.header-bg{
    margin-top: 80px;
    margin-bottom: 48px;
    margin-left: 52px;
    margin-right: 52px;
    width: 1336px;
    height: 178px;
}
.box-1{
    width: 716px;
    height: 92px;
    padding: 0 310px;
    margin-bottom: 16px;
   
}
.box-h1{
    width: 716px;
    height: 26px;
    text-align: center;
    line-height: 62px;
}
.h1-1{
    font-size: 16px;
    line-height: 26px;
    
}
.box-h1-2{
    width: 716px;
    height: 62px;
    text-align: center;
    line-height: 35px;
}
.h1-2{
    font-size: 54px;
    line-height: 62px;

}
.box-2{
    width: 760px;
    height: 70px;
    padding: 0 288px;
    margin-top: 25px;
}
.box-h1{
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    

}
.top-box{
    display: flex;
}
.div-1{
    width: 310px;
    height: 168px;

}
.h1-1{
    font-size: 18px;
    line-height: 30px;

}
.h3-1{
    font-size: 14px;
    line-height: 22px;
}
.p-1{
    font-size: 14px;
    line-height: 22px;
}
.section-box{
    margin: 48px 52px;
}
.top-box{
    justify-content: space-around;
}
.bottom-box{
    justify-content: space-around;
    display: flex;
}
.footer-1{
    background-color: #53535354;
    width: 1654px;
    height: 512px;
}
.footer-box{
    width: 1306px;
    height: 223px;
    padding: 108px 174px;
       display: flex;
}
.flex{
    display: flex;
}
.logo{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    

}
.logo-2{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
   
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 26px;
    
}
.logo-3{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    
}
.icon-1{
    width: 100px;
    height: 64px;
    margin-top: 108px;
    margin-left: 50px;
}
.icon-p{
    width: 306.05px;
    height: 73px;
    margin-top: 32px;
}
.div-class{
    margin-top: 28px;
}
.item-1{
    margin-top: 108px;
    margin-left: 135px;
    width: 136px;
    height: 223px;
}
.li-1{
    margin-top: 71px;
    margin-bottom: 15px
}
.li-2{
    margin-top:15px ;
    margin-bottom: 15px;
}
.item-2{
    margin-top: 108px;
    margin-left: 200px;
    width: 199px;
    height: 223px;
}
.item-3{
    margin-top: 108px;
    margin-left: 65px;    
    width: 107px;
    height: 127.45px;
}
.o-1{
    color: red;
    background-color: #054A68;
    width: 80px;
    height: 45px;
    
}